a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

a,
button,
.btn {
  text-decoration: none;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.modal {
  background: #181a20 url("../img/img2.webp") no-repeat 100% 100%;
  -webkit-background-size: contain;
          background-size: contain;
}

.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-dialog .modal-content .modal-header .btn-close {
  color: white;
}

.modal .modal-dialog .modal-content .modal-header .title {
  color: white;
}

.modal .modal-dialog .modal-content .modal-header .desc {
  color: rgba(255, 255, 255, 0.5);
}

.modal .modal-dialog .modal-content .modal-body label {
  color: white;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

.modal .modal-dialog .modal-content .modal-body input {
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #181a20;
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.modal .modal-dialog .modal-content .modal-body .copyright {
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.5);
}

header .navbar {
  background-color: #181a20;
}

header .navbar .navbar-brand {
  background: url("../img/logo.webp") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
}

main .card {
  border: 0;
}

main .privilege,
main .start {
  padding: 3em 0;
}

main .about {
  background-color: #e1e1e1;
}

main .start {
  background: url("../img/img4.webp") no-repeat;
}

footer {
  padding: 3em 0;
  background-color: #181a20;
}

footer .footer-logo {
  overflow: hidden;
}

footer .copyright {
  color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 359px) {
  .modal {
    background: #181a20;
  }
  .btn {
    width: 100%;
    margin-bottom: 0.75em;
  }
  header .navbar .navbar-brand {
    width: 100%;
    height: 60px;
    margin-bottom: 0.75em;
  }
  main .promo .card .card-title {
    margin-top: 1em;
    font-size: 1.75em;
  }
  main .promo .card .card-text {
    margin: 2.5em 0;
  }
  main .promo .card .btn {
    width: 100%;
  }
  main .promo picture {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .promo picture img {
    padding: 0 0 3em;
  }
  main .title {
    font-size: 1.5em;
  }
  main .about p {
    margin-top: 2em;
    font-size: 1em;
  }
  main .start {
    height: 350px;
    -webkit-background-size: 95% 95%;
            background-size: 95%;
    background-position: 0 75%;
  }
  footer .footer-logo .footer-brand img {
    width: 200px;
  }
}

@media (min-width: 360px) and (max-width: 505px) {
  .modal {
    background: #181a20;
  }
  .btn {
    width: 100%;
    margin-bottom: 0.75em;
  }
  header .navbar .navbar-brand {
    width: 100%;
    height: 70px;
    margin-bottom: 0.75em;
  }
  main .promo .card .card-title {
    margin-top: 1em;
    font-size: 1.75em;
  }
  main .promo .card .card-text {
    margin: 2.5em 0;
  }
  main .promo .card .btn {
    width: 100%;
  }
  main .promo picture {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .promo picture img {
    padding: 0 0 3em;
  }
  main .title {
    font-size: 1.5em;
  }
  main .about p {
    margin-top: 2em;
    font-size: 1em;
  }
  main .start {
    height: 350px;
    -webkit-background-size: 95% 95%;
            background-size: 95%;
    background-position: 0 75%;
  }
  footer .footer-logo .footer-brand img {
    width: 200px;
  }
}

@media (min-width: 506px) {
  .modal {
    background: #181a20;
  }
  .btn {
    width: 200px;
    margin-bottom: 0;
  }
  header .navbar .navbar-brand {
    width: 170px;
    height: 60px;
  }
  main .promo .card .card-title {
    margin-top: 1.5em;
    font-size: 2em;
  }
  main .promo .card .card-text {
    margin: 1.5em 0 2em;
  }
  main .promo .card .btn {
    width: 100%;
  }
  main .promo picture {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .promo picture img {
    padding: 1.5em 0 3em;
  }
  main .about p {
    margin-top: 3em;
    font-size: 1em;
  }
  main .start {
    height: 350px;
    -webkit-background-size: 65% 65%;
            background-size: 65%;
    background-position: 0 75%;
  }
  footer .footer-logo .footer-brand img {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .modal {
    background: #181a20 url("../img/img2.webp") no-repeat 100% 100%;
  }
  main .promo .card .card-title {
    margin-top: 0;
  }
  main .promo .card .btn {
    width: 200px;
  }
  main .promo picture img {
    padding: 0 0 3em;
  }
  main .about p {
    margin-top: 0;
    font-size: 1em;
  }
  main .start {
    height: 380px;
    -webkit-background-size: 55% 55%;
            background-size: 55%;
    background-position: 0 80%;
  }
}

@media (min-width: 1400px) {
  main .promo .card {
    padding-right: 3.25em;
  }
}
